# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc

# Logs
*.log

# Gimp
*.xcf

.vscode
build
Logs/*
Dependencies/*
.clang-format
res/models
docs/sections/*.pdf
docs/sections/classes/*.pdf